header{
	overflow: hidden;
}

b{
	font-weight: bold !important;
}

h1{
	font-size: 30px;
	font-weight: bold;
}

h2{
	/*font-size: 15px;*/
	font-weight: bold;
}

h3{
	/*font-size: 10px;*/
	font-weight: bold;
}

.navigation .nav > li > a:hover, .navigation .nav > li > a:focus {
	    background-color: #4880FF;
}

.margin-bottom-10px{
	margin-bottom: 10px;
}
.margin-bottom-15px{
	margin-bottom: 15px;
}

.margin-bottom-20px{
	margin-bottom: 20px;
}

.margin-bottom-30px{
	margin-bottom: 30px;
}

.margin-bottom-40px{
	margin-bottom: 40px;
}

.margin-bottom-50px{
	margin-bottom: 50px;
}

.margin-bottom-60px{
	margin-bottom: 60px;
}

.margin-bottom-100px{
	margin-bottom: 100px;
}

.margin-bottom-150px{
	margin-bottom: 150px;
}


/**************************/


.margin-top-10px{
	margin-top: 10px;
}
.margin-top-15px{
	margin-top: 15px;
}

.margin-top-20px{
	margin-top: 20px;
}

.margin-top-30px{
	margin-top: 30px;
}

.margin-top-40px{
	margin-top: 40px;
}

.margin-top-50px{
	margin-top: 50px;
}


.font-size-20{
	font-size: 20px;
}

.font-size-30{
	font-size: 30px;
}

.font-size-40{
	font-size: 40px;
}

.height-40{
	height: 40px !important;
}

.height-50{
	height: 50px !important;
}

.height-100{
	height: 100px !important;
}

.height-200{
	height: 200px !important;
}

.height-300{
	height: 300px !important;
}

.height-400{
	height: 400px !important;
}

.p-fixed{
	position:fixed;
}

.p-relative{
	position:relative;
}

.p-absoluto{
	position: absolute;
}


/*****************Mis css estilos********************/

/**Principales*/
.main{
	overflow: hidden;
}
/*/Principales**/


/*Secion categoria*/
.categoria .titulo{
	margin-top: 15px;
	text-transform: uppercase;
}

.categoria .row .descripsion{
	white-space: pre-wrap !important;
}

/* /session categoria*/

time{
	color:#aaa;
	font-size: 15px;
	position:absolute;
	top:18px;
	right: 31px;
}

.thumbnail:hover{
	-moz-box-shadow:3px 0px 9px -3px #666;/* el primer valor es x el 2 es y. el 3 la dureza d la sombra 4 el ancho de la sombra*/
	-webkit-box-shadow:3px 0px 9px -3px #666;/*verde*/
	-ms-box-shadow:3px 0px 9px -3px #666;
	-o-box-shadow:3px 0px 9px -3px #666;
}

.punteado{
	border-style: dotted; 
  	border-width: 1px; 
  	border-color: #D7D7D7
}

/*****Botones*/


.col-md-4 > .btn-info{
	background-color: #AE59B9;
	border-color: #A84FB5;
}

	.col-md-4> .btn-info:active{
		background-color: #9F48AC;
		border-color: #9F48AC;
	}



.eliminar-textarea{
	display: none;
	position: absolute;
    right: 5px;
    bottom: 180px;

}

.atras{
	text-decoration: none;	
	color: black !important;
}

.atras:hover{
	color: grey;
}

.sindatos{
	border: solid 4px gray;
	border-style: dashed;
	height: 100px;
	margin-bottom: 20px;
	display: flex;
	flex-direction:row;
	justify-content:center;
	align-self:center;

}

.sindatos span{
    margin: 0;
    margin-top: auto;
    margin-bottom: auto;
}

.popover{
	width: 205px;
}

.clickeable{
    cursor: pointer;
  }

.titulo-pagina{
	padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-size: 30px; 
    color:white;
    font-weight: bold;
}

.titulo{
	padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-size: 30px; 
    color: gray;
    margin-bottom: 12px;
    font-weight: bold;
}



.grande{
	font-size: 40px !important;
	color: rgba(153, 153, 153, 0.32) !important;
	text-transform: capitalize;

}

.codigos > .col-md-12{
	padding-right: 0px !important;
    padding-left: 0px !important;
    margin-top: 50px;
}

.contenido-codigo{
	max-height: 500px !important;
	float: left !important;
	width: 100% !important;
	/*margin-bottom: 200px !important;*/
	resize: both;
}

.pagination >.active >span{
	background-color: rgba(181, 89, 185, 1) !important;
    border-color: rgba(152, 89, 185, 1) !important;
}

.pagination > li >a{
	color: #1c1c1d !important;
}

/*Mis cuentas de Pagina*/

.cuentasDePagina .form-group label{
	margin-bottom: 10px;
	font-size: 17px;
}

.col-md-7 .form-group label {
    margin-bottom: 10px;
    font-size: 17px;
}

.col-md-7 .form-group textarea {
   	display: block;
    height:14.5em;
}

select[name="categoria"] option:first{
	color: gray;
}


button[type="submit"]{
	background-color: #AE59B9;
	border-color: #A84FB5;
}

button[type="submit"]:hover{
	background-color: #A84FB5 !important;
	border-color: #A84FB5;
}

.flex{
	    display: flex;
	    flex-direction: row;
	    /* justify-content: center; */
	    align-items: center;
}

.flex a:nth-child(1){
	margin-right: 20px;
}


	/*resientes*/

	ul.resientes h3{
		font-size: 19px;
		font-weight:normal;
		padding: 9px 15px;
		display: block;
		margin: 0px;
		background-color: #0042DD;
		color: white;
		margin-bottom: 10px;
		position: relative;
		overflow: hidden;
		padding-left: 30px;

	}

	ul.resientes h3 span{
		 position: absolute;
	     right: -11px;
	     top: -24px;
	     font-size: 91px;
	     color: #EBEBEB;
	}

	.resientes li {
		border-bottom: solid 1px #D6D6D6;
	}

	.resientes li a{
		color: #03235E;
		display: block;
		padding: 10px 5px;
		text-decoration: none;


	}

	.resientes li a span{
		color: #D6D6D6;
		float: left;   
		margin-right: 9px;
		
	}


	.resientes li a:hover{
		background-color: rgba(220, 220, 220, 0.29);

	}

	/*/resientes*/


	/**tems_info_pagina*/
	.item_info_pagina{
		padding:10px 16px;
		position: relative;
		max-height: 150px;
		margin-bottom: 15px;
		border-bottom: solid 1px grey;
	}

	.item_info_pagina p:nth-child(odd){
		font-size: 18px;
	}

	.item_info_pagina p:nth-child(even){
		font-size: 13px;
		color: rgba(199, 193, 193, 0.69);
	}
	
	.item_info_pagina time{
		top: 7px;
	    right: 9px;
	    position: absolute;
	}

	.item_info_pagina h1{
		font-size: 21px;
		font-weight: normal;
	}

	.item_info_pagina .botones{
		margin-top: 8px;
	}


	/* /items_info_pagina*/


/*/Mis cuentas de Pagina*/




/*#footer Estilos///////////////////*/
.social{
	float: right;
	display: block;
	padding: 1em;

}

.social a{
	text-decoration: none;
	color: white;
	font-size: 30px;
	
}

.footer .row .col-md-6 span{
	padding: 16px 2px;
    overflow: hidden;
    display: block;
    /* text-align: -webkit-cente*/
}


.footer .row .col-md-6 .social{
	display: block;
    margin-right: 43px;
}


/*/footer estilos////////////////////*/




